@import '@/client/style';

.article{
  main{
   box-shadow:  0 1px 3px rgba(26,26,26,.1);
   padding: 20px;
  }
  .row{
    margin-bottom: 15px;
    width: inherit;
    &-01{
      font-size: 30px;
      font-weight: 500;
    }
    &-02{
      width: 100%;
      text-align: left;
      color: palette('content','gray');
    }
    &-03{
      text-indent: 10px;
      line-height:1.8;
      word-break: break-all;
    }
  }
  // pre.code {
  //   white-space: pre-wrap;
  // }
  // pre.code:before {
  //   counter-reset: listing;
  // }
  // pre.code code {
  //   counter-increment: listing;
  // }
  // pre code::before {
  //   content: counter(listing) ". "!important;
  //   display: inline-block!important;
  //   width: 8em!important;
  //   padding-left: auto;
  //   margin-left: auto;
  //   text-align: right;
  // }
}