@import '@/client/style';

.home {
  width: 100vw;
  overflow: hidden;
  main {
    @include flex(center,center,column);
    max-width: 80vw;
    margin: 0 auto;
    margin-top: r(100);
    color: #000;
  }
}
