// mixins
@mixin flex($j: center, $a: center, $d: row) {
  display: flex;
  justify-content: $j;
  align-items: $a;
  flex-direction: $d;
}

@mixin wh($w, $h) {
  width: $w * 1px;
  height: $h * 1px;
}

@mixin ft($s, $c) {
  font-size: r($s);
  color: $c;
}

@function r($px){
  @return ($px/1440*100000)/1000*1vw
}