@import '@/style/index.scss';

.header {
  input {
    cursor: text;
    width: 10rem;
    height: 2rem;
    color: #4e6e8e;
    display: inline-block;
    border: 1px solid #cfd4db;
    border-radius: 1.3rem;
    font-size: 0.9rem;
    line-height: 2rem;
    padding: 0 0.5rem 0 2rem;
    outline: none;
    @include respond-to {
      display: none;
    }
  }
  .user{
    color: #fff;
    margin-left: 1rem;
    opacity: .7;
    cursor: pointer;
    transition: all .2s;
    &:hover{
      color: palette('primary','light');
    }
  }
  .row-01 {
    position: relative;
    float: right;
    @include flex;
    i {
      position: absolute;
      left: r(14);
      font-size: 20px;
      z-index: 1;
      opacity: 0.7;
      color: palette('content', 'dark');
      &:hover {
        cursor: pointer;
      }
      @include respond-to {
        color: #fff;
        // opacity: 1;
        position: initial;
      }
    }
  }
  &-banner {
    background-image: url('../../static/banner.jpg');
    width: 100vw;
    height: r(400);
    background-size: cover;
    background-repeat: no-repeat;
    // background-position-y: 1rem;
    padding: 1rem;
    position: relative;
    box-sizing: border-box;
    animation: fade 0.3s linear;
    @keyframes fade {
      from {
        opacity: 0.4;
      }
      to {
        opacity: 1;
      }
    }
    .row {
      &-01 {
        min-width: 35px;
        height: 30px;
        input{
          width: 150px;
          height: 30px;
          border-radius: 14px;
          border:1px solid palette('border');
          color: palette('content','dark');
          outline: none;
        }
      }
    }
    h2 {
      width: 7ch;
      font-size: 10ch;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #fff;
      overflow: hidden;
      white-space: nowrap;
      animation: typing 1s steps(7, end);
      @include respond-to {
        font-size: 3rem;
        animation: none;
      }
    }
  }
  &-bar {
    z-index: 1;
    @include flex(space-between, center, row-reverse);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: palette('background','dark');
    .input {
      width: 100%;
      padding-left: r(40);
      box-sizing: border-box;
    }
    h2 {
      font-size: 24px;
      color: #fff;
    }
  }
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 7ch;
  }
}

.menu-mobile{
  @include flex(flex-start,flex-start,column);
  a{
    transition: all .2s;
    &:hover{
      color: #fff;
    }
  }
}

