@import '@/client/style/index.scss';

.header {
  background: url('https://ftp.bmp.ovh/imgs/2019/10/3d499092089343c6.jpg');
  width: 100vw;
  height: r(400);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: r(-100);
  padding: r(100);
  position: relative;
  box-sizing: border-box;
  .row {
    &-01 {
      @include flex;
      min-width: r(40);
      height: r(50);
      position: absolute;
      right: r(100);
      top: r(20);
      i {
        position: absolute;
        left: r(10);
        font-size: r(35);
        z-index: 1;
        opacity: 0.7;
        color: palette('content', 'dark');
        &:hover {
          cursor: pointer;
        }
      }
      .input {
        width: 100%;
        padding-left: r(40);
        box-sizing: border-box;
        &.enter {
          opacity: 0.5;
        }
        &.enter-active {
          transition: all 1s;
          opacity: 1;
        }
      }
    }
  }
  h2 {
    font-size: r(80);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Varela Round', 'Microsoft YaHei', 'Source Sans Pro',
      'Helvetica Neue', Menlo, Monaco, monospace, 'Lucida Console', sans-serif,
      Helvetica, 'Hiragino Sans GB', 'Hiragino Sans GB W3',
      Source Han Sans CN Regular, WenQuanYi Micro Hei, Arial, sans-serif;
    color: palette('content', 'active');
    font-weight: bold;
  }
}
